@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(62.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.Cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logo{
    height: 72px;
}

.Navegação{
    display: flex;
    gap: 32px;
}

.Cabeçalho-menu-item{
    font-family: "Sarala", serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 15px;
}

.Conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.Conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
}

.Conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Conteudo-principal-titulo{
    font-family: "Righteous", serif;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;   
}

.Conteudo-principal-subtitulo{
    font-family: "Sarala", serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.Botão{
    background-color: #ECD6C4;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: "Sarala", serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.img-grande{
    height: 430px;
}

.Conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    }

.Secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: "Sarala", serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
    }
    
.Conteudo-pricipal-paragrafo-1{
    font-family: "Sarala", serif;
    font-weight: 400;
    font-size: 18px;
    color: #ECD6C4;
}

.Conteudo-principal-paragrafo-2{
    font-family: "Sarala", serif;
    font-weight: 400;
    font-size: 18px;
    color: #ECD6C4;
}

.Conteudo-pricipal-paragrafo-3{
    font-family: "Sarala", serif;
    font-weight: 400;
    font-size: 18px;
    color: #ECD6C4;
}

.Rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;


}

.Rodape-img{
    height: 48px;
    display: block;
    margin: 0 auto;
}

.Botão :hover{
    background-color: (#8E5D52);
}